<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>

</head>

<body>
    <div class='general-section'>
        <header>
            <%- include('./partials/sidebar'); %>
        </header>
        <main class='wrap-content'>

            <div class='content'>
                <h2 class="content-title">
                    Blog
                    <% if (user && user.role && user.role=='ADMIN' ) { %>
                        <a onclick="addNewBlog()" type='button'>
                            <span class='btnAdd'>New</span>
                        </a>
                        <% } %>
                </h2>
                <hr class="line">
                </hr>
                <div class='wrapBlogItems'>

                    <% for(let i=0; i < dataBlog.length; i++) { %>
                        <div class='blogItem'>

                            <div class='titleBlog'>
                                <h3>
                                    <%= dataBlog[i].title %>
                                </h3>
                                <% if (user && user.role && user.role=='ADMIN' ) { %>
                                    <div class='elem-padding'>
                                        <a href='#' class='icon-padding' onclick="editBlog('<%= dataBlog[i].id %>')"><i
                                                class="fas fa-pencil-alt"></i></a>
                                    </div>
                                    <div class='elem-padding'>
                                        <a href='#' class='icon-padding'
                                            onclick="deleteBlog('<%= dataBlog[i].id %>')"><i
                                                class="fas fa-times"></i></a>
                                    </div>
                                    <% } %>
                            </div>
                            <div class='contentSectionBlog'>
                                <div class='descriptionBlog'>
                                    <div>
                                        <p class="text-blog">
                                            <%= dataBlog[i].description %>
                                        </p>

                                    </div>
                                </div>
                                <div class='imageBlog'>
                                    <div class='image-blog-flex'>
                                        <img src="<%= dataBlog[i].image %>" />
                                    </div>

                                </div>
                            </div>

                        </div>
                        <% } %>
                </div>
            </div>
        </main>

    </div>

    <div class='page-list'>
        <% for(let i=0; i < pagesAmount; i++) { %>
            <div class='page-margin'>
                <a href="?page=<%= i+1 %>" type='button' class='page-button'><span>
                        <%= i+1 %>
                    </span></a>
            </div>
            <% } %>
    </div>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>
    <div class='modalSection'>
        <div>
            <%- include('./partials/modalWindowEditBlog'); %>
        </div>
        <div>
            <%- include('./partials/modalWindowBlog'); %>
        </div>

    </div>

    <script src='javascript/blog.js'></script>
</body>

</html>