<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>

</head>

<body>
    <div class='general-section'>
        <header>
            <%- include('./partials/sidebar'); %>
        </header>
        <main class='wrap-content'>

            <div class='content'>
                <h2 class="content-title">
                    Blog
                    <a onclick="addNewBlog()" type='button'>
                        <span class='btnBuy'>New</span>
                    </a>
                </h2>
                <hr class="line">
                </hr>
                <div class='wrapBlogItems'>

                    <% for(let i=0; i < dataBlog.length; i++) { %>
                        <div class='blogItem'>

                            <div class='titleBlog'>
                                <h3><%= dataBlog[i].title %></h3>
                                <div class='elem-padding'>
                                    <a href='#' class='icon-padding'><i class="fas fa-pencil-alt"></i></a>
                                </div>
                                <div class='elem-padding'>
                                    <a href='#' class='icon-padding'><i class="fas fa-times"></i></a>
                                </div>
                            </div>
                            <div class='contentSectionBlog'>
                                <div class='descriptionBlog'>
                                    <div>
                                        <p><%= dataBlog[i].description %></p>

                                    </div>
                                </div>
                                <div class='imageBlog'>
                                    <img src="<%= dataBlog[i].image %>"  />
                                </div>
                            </div>

                        </div>
                        <% } %>
                </div>
            </div>
        </main>

    </div>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
    <%- include('./partials/modalWindowBlog'); %>
        <script src='javascript/blog.js'></script>
</body>

</html>