<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>

</head>

<body>
    <div class='general-section'>
        <header>
            <%- include('./partials/sidebar'); %>
        </header>

        <main class='wrap-content'>

            <div class='content'>
                <h2 class="content-title">Books</h2>

                <hr class="line">
                </hr>

                <div class='book-item-wrap'>


                    <% for(let i=0; i < dataBook.length; i++) { %>
                        <div class='book-item'>
                            <h3 class='book-title'>
                                <%= dataBook[i].name %>
                            </h3>
                            <img src="<%= dataBook[i].img %>" class='imageBookShop' />
                            <div class='block-price-edit'>
                                <h4 class='icon-padding'>
                                    <%= dataBook[i].newPrice %>
                                </h4>
                                <a href='#' class='icon-padding' onclick="editBook( '<%= dataBook[i].id %>')">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a href='#' class='icon-padding' onclick="deleteBook('<%= dataBook[i].id %>')">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>
                            <p class='text'>
                                <%= dataBook[i].description %>
                            </p>
                            <a href="/" type='button' class="bntBuyBookShop"><span>Buy</span></a>
                        </div>

                        <% } %>
                </div>
            </div>
        </main>
    </div>

    <div class='page-list'>
        <% for(let i=0; i < pagesAmount; i++) { %>
            <div class='page-margin'>
                <a href="?page=<%= i+1 %>" type='button' class='page-button'><span>
                        <%= i+1 %>
                    </span></a>
            </div>
            <% } %>
    </div>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

    <div class='modalSection'>
        <div>
            <%- include('./partials/modalWindowEditBook'); %>
        </div>

    </div>

    <script src='javascript/book.js'></script>
</body>

</html>