<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>

</head>

<body>
    <div class='general-section'>
        <header>
            <%- include('./partials/sidebar'); %>
        </header>
        <main class='wrap-content'>

            <div class='content'>
                <h2 class="content-title">Sale<a id="btnAddNewBook" type='button'><span class='btnBuy'>New</span></a>
                </h2>

                <hr class="line">
                </hr>

                <% for(let i=0; i < dataBook.length; i++) { %>
                    <% if(dataBook[i].oldPrice !=null) { %>
                        <div class='sale-book-item'>

                            <div class='descriptionSaleBook'>
                                <h3 class='book-title'>
                                    <%= dataBook[i].name %>
                                </h3>
                                <div class='text-sale'>
                                    <p>
                                        <%= dataBook[i].description %>
                                    </p>
                                </div>
                            </div>
                            <div class='imageSaleBook'>
                                <img src="<%= dataBook[i].img %>" class='imageBookShop' />
                                <div class='salePrice'>
                                    <h4 class='pricePadding'>
                                        <%= dataBook[i].oldPrice %>
                                    </h4>
                                    <h4 class='pricePadding'>
                                        <%= dataBook[i].newPrice %>
                                    </h4>
                                </div>
                                <div class='elem-padding'>
                                    <a href='#' class='icon-padding'><i class="fas fa-pencil-alt"></i></a>
                                    <a href='#' class='icon-padding'><i class="fas fa-times"></i></a>
                                </div>
                                <div class='elem-padding'>
                                    <a href="/" type='button' class='bntBuyBookSale'><span>Buy</span></a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <% } %>


            </div>
        </main>

    </div>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
    <div class='modalSection'>
        <%- include('./partials/modalWindowBook'); %>
    </div>
    <script src='javascript/bookModalWindow.js'></script>
    <script src='javascript/addBook.js'></script>
</body>

</html>